<section class="checkOut_sec">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="checkOut_step">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" [ngClass]="{ 'step_done': loginSuccess == true }">
                        <a class="nav-link active" id="step-1-tab" data-toggle="tab" href="#step_1" role="tab" aria-controls="step_1" aria-selected="false">
                            Step 01
                            <span>Account</span>
                        </a>
                      </li>
                      <li class="nav-item" [ngClass]="{ 'step_not_done': loginSuccess == false, 'step_done': deliveryOpen == false && paymentOpen == true }">
                        <a class="nav-link" id="step-2-tab" data-toggle="tab" href="#step_2" role="tab" aria-controls="step_2" aria-selected="false">
                            Step 02
                            <span>Delivery</span>
                        </a>
                      </li>
                      <li class="nav-item" [ngClass]="{ 'step_not_done': paymentOpen == false }">
                        <a class="nav-link" id="step-3-tab" data-toggle="tab" href="#step_3" role="tab" aria-controls="step_3" aria-selected="false">
                            Step 03
                            <span>Payment</span>
                        </a>
                      </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="step_1" role="tabpanel" aria-labelledby="step-1-tab">
                          <div *ngIf="loginSuccess==false">
                            <div class="cont_head">
                                <h2>Account</h2>
                                <h6>To place your order now, log in to your existing account or sign up.</h6>
                            </div>
                            <div class="signIn_btn">
                                <ul class="list-inline clearfix" *ngIf="loginForm == false && signupForm == false && otpForm == false">
                                    <li class="list-inline-item">
                                        <a href="javascript:void(0);" class="btn btn-link" (click)="loginForm = true; signupForm = false">
                                            <span>Hae an account?</span>Log in
                                        </a>
                                        <a href="javascript:void(0);" class="btn btn-success" (click)="signupForm = true; loginForm = false">
                                            <span>New to homecooked?</span>Sign up
                                        </a>
                                    </li>
                                </ul>

                                <!-- Login Form -->
                                <div class="_3yxHL" *ngIf="loginForm == true">
                                  <div>
                                    <div class="_31HMG">
                                      <div class="NA16F">Enter login details or </div>
                                      <a class="_2uH-f" (click)="signupForm = true; loginForm = false; otpForm = false"> create an account</a>
                                    </div>
                                    <div class="_31HMG {{msg_class}}">{{message}}</div>
                                    <form (ngSubmit)="f.form.valid && loginAction(f)" #f="ngForm" novalidate>
                                      <div>
                                        <div class="_3Um38 _3lG1r">
                                          <input class="_381fS " minlength="10" maxlength="10" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" type="text" numbersOnly name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" required tabindex="1" autocomplete="off" value="">
                                          <div class="_2EeI1 _26LFr"></div>
                                          <label class="_1Cvlf _2tL9P " for="mobile">Phone number</label>
                                        </div>
                                        <div *ngIf="f.submitted && mobile.invalid" class="warning-msg">
                                            <div *ngIf="mobile.errors.required">Mobile Number is required</div>
                                            <div *ngIf="!mobile.errors.required && mobile.invalid">Mobile Number should be 10 digit</div>
                                        </div>
                                      </div>
                                      <div class="_25qBi _2-hTu">
                                          <button type="submit" class="btn btn-success">LOGIN</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                                <!-- End of Login Form -->

                                <!-- Verify OTP -->
                                <div class="_3yxHL" *ngIf="otpForm == true">
                                  <div>
                                    <div class="_31HMG">
                                      <div class="NA16F">Enter login details or </div>
                                      <a class="_2uH-f" (click)="signupForm = true; loginForm = false; otpForm = false"> create an account</a>
                                    </div>
                                    <div class="_31HMG {{msg_class}}">{{message}}</div>
                                    <form (ngSubmit)="f3.form.valid && verifyOtpAction(f3)" #f3="ngForm" novalidate>
                                      <input type="hidden" name="mobile_verify" [(ngModel)]="model.mobile_verify" value="">
                                      <!--<div>
                                        <div class="_3Um38 _3lG1r">
                                          <input class="_381fS " minlength="10" maxlength="10" type="text" name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" disabled required tabindex="1" autocomplete="off" value="">
                                          <div class="_2EeI1 _26LFr"></div>
                                          <label class="_1Cvlf _2tL9P " for="mobile">Phone number</label>
                                        </div>
                                      </div>-->
                                      <div class="_3Um38 _3lG1r">
                                        <input class="_381fS " minlength="4" maxlength="4" [ngClass]="{ 'is-invalid': f3.submitted && otp.invalid }" type="text" numbersOnly name="otp" [(ngModel)]="model.otp" #otp="ngModel" required tabindex="1" autocomplete="off" value="">
                                        <div class="_2EeI1 _26LFr"></div>
                                        <label class="_1Cvlf _2tL9P " for="otp">OTP</label>
                                      </div>
                                      <div *ngIf="f3.submitted && otp.invalid" class="warning-msg">
                                          <div *ngIf="otp.errors.required">OTP is required</div>
                                          <div *ngIf="!otp.errors.required && otp.invalid">OTP should be 4 digit</div>
                                      </div>
                                      <div class="_25qBi _2-hTu">
                                          <button type="submit" class="btn btn-success">VERIFY OTP</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                                <!-- End of Verify OTP -->

                                <!-- Signup Form -->
                                <div class="_3yxHL" *ngIf="signupForm == true">
                                  <div>
                                    <div class="_31HMG">
                                      <div class="NA16F">Sign up or</div>  
                                      <a class="_2uH-f" (click)="loginForm = true; signupForm = false; otpForm = false"> log in to your account</a>
                                    </div>
                                    <div class="_31HMG {{msg_class}}">{{message}}</div>
                                    <div>
                                      <form (ngSubmit)="f2.form.valid && registerAction(f2)" #f2="ngForm" novalidate>
                                        <div>
                                          <div class="_3Um38 _3lG1r">
                                              <input class="_381fS " minlength="10" maxlength="10" [ngClass]="{ 'is-invalid': f2.submitted && mobile.invalid }" type="text" numbersOnly name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" required tabindex="1" autocomplete="off" value="">
                                            <div class="_2EeI1 _26LFr"></div>
                                            <label class="_1Cvlf _2tL9P " for="mobile">Phone number</label>
                                          </div>
                                          <div *ngIf="f2.submitted && mobile.invalid" class="warning-msg">
                                              <div *ngIf="mobile.errors.required">Mobile Number is required</div>
                                              <div *ngIf="!mobile.errors.required && mobile.invalid">Mobile Number should be 10 digit</div>
                                          </div>
                                          <div class="_3Um38 _3lG1r">
                                            <input class="_381fS" type="text" name="name" #name="ngModel" [(ngModel)]="model.name" required [ngClass]="{ 'is-invalid': f2.submitted && name.invalid }" tabindex="2" autocomplete="off" value="">
                                            <div class="_2EeI1"></div>
                                            <label class="_1Cvlf " for="name">Name</label>
                                          </div>
                                          <div *ngIf="f2.submitted && name.invalid" class="warning-msg">
                                              <div *ngIf="name.errors.required">Name is required</div>
                                          </div>
                                          <div class="_3Um38 _3lG1r">
                                            <input class="_381fS" type="email" name="email" #email="ngModel" [(ngModel)]="model.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required [ngClass]="{ 'is-invalid': f2.submitted && email.invalid }" tabindex="3" autocomplete="off" value="">
                                            <div class="_2EeI1"></div>
                                            <label class="_1Cvlf " for="email">Email</label>
                                          </div>
                                          <div *ngIf="f2.submitted && email.invalid" class="warning-msg">
                                              <div *ngIf="email.errors.required">Email is required</div>
                                          </div>
                                          <!--<div class="_3Um38 _3lG1r">
                                            <input class="_381fS" type="password" name="password" #password="ngModel" [(ngModel)]="model.password" required minlength="5" [ngClass]="{ 'is-invalid': f2.submitted && password.invalid }" tabindex="4" autocomplete="off" value="">
                                            <div class="_2EeI1"></div>
                                            <label class="_1Cvlf " for="password">Password</label>
                                          </div>
                                          <div *ngIf="f2.submitted && password.invalid" class="warning-msg">
                                              <div *ngIf="password.errors.required">Password is required</div>
                                              <div *ngIf="!password.errors.required && password.invalid">Password should be minimum 5 digit</div>
                                          </div>-->
                                        </div>
                                        <div class="_3GOZo">Have a referral code?</div>
                                        <div class="_25qBi _2-hTu">
                                            <button type="submit" class="btn btn-success">CONTINUE</button>
                                        </div>
                                      </form>  
                                        <div class="_1FvHn">By creating an account, I accept the  <a class="IBw2l" target="_blank" href="https://www.thehomecooked.com/privacy_policy">Terms &amp; Conditions</a></div>
                                    </div>
                                  </div>
                                </div>
                                <!-- End of Signup Form -->

                            </div>
                          </div>
                          <div class="_1rwo5" *ngIf="loginSuccess==true">
                            <div class="F8Sye">
                              <div class="_2YrH-">Logged In</div>
                            </div>
                            <div class="_3Frck"><div class="QgO5l">{{customer_name}}</div><div>{{customer_phone}}</div></div>
                            <div class="_250uQ _26MRf"></div>
                            <div class="_2b4pY">
                              <span class="_1q8J4 icon-user-checkout"></span>
                            </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="step_2" role="tabpanel" aria-labelledby="step-2-tab">
                          <div class="cont_head">
                              <h2>Choose a delivery address</h2>
                              <h6>Multiple addresses in this location</h6>
                          </div>
                          <div class="address_list">
                              <div class="row">
                                  <div class="col-lg-6 col-md-6 col-xl-4">
                                      <div class="card">
                                          <div class="card-body">
                                              <div class="media">
                                                  <div class="location_icon mr-3">
                                                      <span class="lnr lnr-briefcase"></span>
                                                  </div>
                                                  <div class="media-body">
                                                      <h4>Home</h4>
                                                      <address>{{full_address}}</address>
                                                      <div class="media-footer">
                                                          <h6>45 Mins</h6>
                                                          <a href="javascript:void(0);" class="btn btn-success" (click)="saveDelivery()">Delivery Here</a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-xl-4">
                                      <div class="card">
                                          <div class="card-body">
                                              <div class="media">
                                                  <div class="location_icon mr-3">
                                                      <span class="lnr lnr-map-marker"></span>
                                                  </div>
                                                  <div class="media-body">
                                                      <h4>Add New Address</h4>
                                                      <address>{{full_address}}</address>
                                                      <div class="media-footer">
                                                          <a routerLink="/location" class="btn btn-link">Add New</a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="tab-pane fade" id="step_3" role="tabpanel" aria-labelledby="step-3-tab">
                          <div class="cont_head">
                              <h2>Choose payment method</h2>
                          </div>
                          <div class="payment_category">
                              <div class="choose_card">
                                  <ul class="btn-group btn-group-toggle list-inline clearfix" data-toggle="buttons">
                                      <!--<li class="btn btn-secondary active">
                                          <div class="custom-control custom-radio">
                                              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                              <label class="custom-control-label" for="customRadio1">
                                                  Credit/Debit Cards
                                              </label>
                                          </div>
                                      </li>-->
                                      <li class="btn btn-secondary active">
                                          <div class="custom-control custom-radio">
                                              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                              <label class="custom-control-label" for="customRadio2">
                                                  Pay on Delivery
                                              </label>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                              <div class="card_details">
                                  <!--<ul class="list-inline card_icon clearfix">
                                      <li class="list-inline-item">We Accept</li>
                                      <li class="list-inline-item">
                                          <a href="#"><img src="images/card_icon1.png" alt=""></a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a href="#"><img src="images/card_icon2.png" alt=""></a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a href="#"><img src="images/card_icon3.png" alt=""></a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a href="#"><img src="images/card_icon4.png" alt=""></a>
                                      </li>
                                  </ul>-->
                                  <div class="row">
                                      <div class="col-sm-10 col-md-7 col-lg-8 col-xl-6">
                                        <div class="form-group">
                                          <div class="_2Zw1I">
                                            <div>
                                              <div class="_2_G0K">
                                                <div class="_1ISkC">
                                                  <img class="_2tuBw _12_oN" width="140" height="80" alt="" src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_140,h_80/image-pay-by-cash_av6bcw">
                                                </div>
                                                <div class="_2gp3l _1fMbb">
                                                  <div class="_2QlY5" title="Cash">Cash</div>
                                                  <div class="_2YDf0 _23V-r">Please keep exact change handy to help us serve you better</div>
                                                </div>
                                                <button type="submit" class="btn btn-success btn-block" (click)="saveOrder()">Pay <i class="fa fa-rupee ml-1"></i>{{sub_total}}</button>
                                              </div>
                                            </div>
                                        </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 d-none d-sm-none d-lg-block d-xl-block">
            <aside class="cartCheck_bar">
                <div class="card">
                    <div class="card-body">
                        <h2>Your Order</h2>
                        <h6 class="tot-item" *ngIf="tot_item>0">{{tot_item}} Items</h6>
                        
                        <div class="add_cart">
                            <div class="row align-items-center" *ngFor="let item of cartItems; let in = index;">
                                <div class="col-xl-5 col-5 col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="customCheck1">{{item.name}}</label>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-7 col-md-12">
                                    <div class="addQty_btn"> 
                                        <div class="input-group">
                                            <div class="btn-minus">
                                              <i class="fa fa-minus" [attr.data-val]="item.quantity" (click)="decreaseQuantity($event,in)"></i>
                                            </div>
                                            <input type="number" class="form-control" id="quantity-{{in}}" [(ngModel)]="item.quantity"/>
                                            <div class="btn-plus">
                                              <i class="fa fa-plus" [attr.data-val]="item.quantity" (click)="increaseQuantity($event,in)"></i>
                                            </div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-rupee"></i> {{item.tot_price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="addCart_total" *ngIf="tot_item>0">
                                <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                            <h5>Subtotal</h5>
                                            <p>Extra charges may apply</p>
                                        </td>
                                        <td class="text-right">
                                            <h6>
                                                <!--<span class="del"><del><i class="fa fa-rupee"></i> 129</del></span>-->
                                                <i class="fa fa-rupee"></i> {{sub_total}}
                                            </h6>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Empty Cart -->
                            <div class="empty-cart" *ngIf="tot_item<1">
                              <div class="empty-cart mtop3 tac" style="opacity: 0.6;">
                                <!--<div class="ptop2">
                                  <img src="assets/img/empty-cart.png" class="mtop2">
                                </div>-->
                                <div class="mtop0 grey-text">Your cart is empty.<br>Add an item to begin.</div></div>
                            </div>
                            <!-- Empty Cart -->
                        </div>
                        <!--<a *ngIf="tot_item>0" routerLink="/checkout" ro class="btn btn-success">Checkout <span class="lnr lnr-arrow-right ml-1"></span></a>-->
                    </div>
                </div>
            </aside>
          </div>
      </div>
  </div>
</section>



<!-- Cart trigger modal -->
<div class="cartOn_media">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
      <i class="fa fa-shopping-cart"></i>
      <span class="notice_no" *ngIf="tot_item>0">{{tot_item}}</span>
      <span class="notice_no" *ngIf="tot_item==0">0</span>
  </button>
</div>

<!-- Modal -->
<div class="modal fade cartOn_modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <aside class="cartCheck_bar">
                  <div class="card">
                      <div class="card-body">
                          <h2>Your Order</h2>
                          <h6 class="tot-item" *ngIf="tot_item>0">{{tot_item}} Items</h6>
                          <div class="add_cart">
                            <div class="row align-items-center" *ngFor="let item of cartItems; let in = index;">
                                <div class="col-xl-5 col-5 col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="customCheck1">{{item.name}}</label>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-7 col-md-12">
                                    <div class="addQty_btn"> 
                                        <div class="input-group">
                                            <div class="btn-minus">
                                              <i class="fa fa-minus" [attr.data-val]="item.quantity" (click)="decreaseQuantity($event,in)"></i>
                                            </div>
                                            <input type="number" class="form-control" id="quantity-{{in}}" [(ngModel)]="item.quantity"/>
                                            <div class="btn-plus">
                                              <i class="fa fa-plus" [attr.data-val]="item.quantity" (click)="increaseQuantity($event,in)"></i>
                                            </div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-rupee"></i> {{item.tot_price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="addCart_total" *ngIf="tot_item>0">
                                <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                            <h5>Subtotal</h5>
                                            <p>Extra charges may apply</p>
                                        </td>
                                        <td class="text-right">
                                            <h6>
                                                <!--<span class="del"><del><i class="fa fa-rupee"></i> 129</del></span>-->
                                                <i class="fa fa-rupee"></i> {{sub_total}}
                                            </h6>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Empty Cart -->
                            <div class="empty-cart" *ngIf="tot_item<1">
                              <div class="empty-cart mtop3 tac" style="opacity: 0.6;">
                                <!--<div class="ptop2">
                                  <img src="assets/img/empty-cart.png" class="mtop2">
                                </div>-->
                                <div class="mtop0 grey-text">Your cart is empty.<br>Add an item to begin.</div></div>
                            </div>
                            <!-- Empty Cart -->
                        </div>
                    </div>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</div>
<!-- Button trigger modal -->