<section class="cms_cont">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-9 col-md-10 col-xl-10">
              <h2>Order Success</h2>
              <p>Thank you for your order. We will get back to you shortly. You can check order details from your account page.</p>
          </div>
      </div>
  </div>
</section>