<section class="navbar_order">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 col-7 align-self-center">
              <div class="location_track">
                  <div class="media">
                      <div class="mr-3 align-self-center"><i class="zmdi zmdi-pin"></i></div>
                      <div class="media-body">
                          <p>Current Location</p>
                          <h4>{{full_address | slice:0:20}}..</h4>
                      </div>
                      <div class="ml-3 align-self-center">
                        <a routerLink="/location" class="btn btn-secondary">Change</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9 col-4">
              <div class="custome_status">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-secondary active" (click)="deliveryItem = true; pickupItem = false">
                          <input type="radio" name="options" id="option1" checked> Delivery
                      </label>
                      <label class="btn btn-secondary" (click)="deliveryItem = false; pickupItem = true">
                          <input type="radio" name="options" id="option2"> Pickup
                      </label>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="order_sec">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="order_list">
                  <h2>20 Chef near you</h2>
                  <div class="row" *ngIf="deliveryItem == true">
                    <div class="col-lg-12 col-md-12 col-sm-12 no-item" *ngIf="deliveryItems.length==0">
                        <h5>Oops!! Sorry seems not deliverable in your area. Please try pickup items. </h5>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 a" data-cat="a" *ngFor="let item of deliveryItems">
                      <div class="card">
                        <div class="card-img">
                          <img class="w-100" src="{{item.item_photo}}" alt="">
                        </div>
                        <h3>{{item.item_name}} <span class="pull-right"><i class="fa fa-rupee"></i> {{item.item_price}}</span></h3>
                        <div class="rating_meta">
                          <a href="#">
                              <i class="zmdi zmdi-star"></i>
                              <i class="zmdi zmdi-star"></i>
                              <i class="zmdi zmdi-star"></i>
                              <i class="zmdi zmdi-star"></i>
                              <i class="zmdi zmdi-star-half"></i>
                          </a>
                          <!----<span>By: Debasish</span>-->
                        </div>
                        <h6>Delivery In <span>{{item.available_hour}}</span></h6>
                        <h6>{{item.distance}} KM Away</h6>
                        <h6>{{item.category_name}}</h6>
                        <div class="card-footer d-flex bd-highlight align-items-center">
                          <div class="mr-auto bd-highlight">
                              <a href="#" class="btn btn-link">Details</a>
                          </div>
                          <div class="bd-highlight">
                            <a href="javascript:void(0);" (click)="addToCart($event)" id="{{item.item_id}}" attr.data-name="{{item.item_name}}" attr.data-price="{{item.item_price}}" attr.data-seller-id="{{item.seller_id}}" attr.data-seller-name="{{item.seller_name}}" attr.data-expected-day="{{item.expected_day}}" attr.data-expected-starting-hour="{{item.expected_starting_hour}}" attr.data-expected-closing-hour="{{item.expected_closing_hour}}" attr.data-photo="{{item.item_photo}}" class="btn btn-secondary">Add <i class="zmdi zmdi-plus"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="pickupItem == true">
                    <div class="col-lg-12 col-md-12 col-sm-12 no-item" *ngIf="pickupItems.length==0">
                      <h5>Oops!! Sorry seems no items available now. Please try again later. </h5>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 a" data-cat="a" *ngFor="let item of pickupItems">
                      <div class="card">
                        <div class="card-img">
                          <img class="w-100" src="{{item.item_photo}}" alt="">
                        </div>
                        <h3>{{item.item_name}} <span class="pull-right"><i class="fa fa-rupee"></i> {{item.item_price}}</span></h3>
                        <div class="rating_meta">
                          <a href="#">
                              <i class="zmdi zmdi-star"></i>
                              <i class="zmdi zmdi-star"></i>
                              <i class="zmdi zmdi-star"></i>
                              <i class="zmdi zmdi-star"></i>
                              <i class="zmdi zmdi-star-half"></i>
                          </a>
                          <!--<span>By: Debasish</span>-->
                        </div>
                        <h6>Available <span>{{item.available_hour}}</span></h6>
                        <h6>{{item.distance}} KM Away</h6>
                        <h6>{{item.category_name}}</h6>
                        <div class="card-footer d-flex bd-highlight align-items-center">
                          <div class="mr-auto bd-highlight">
                              <a href="#" class="btn btn-link">Details</a>
                          </div>
                          <div class="bd-highlight">
                            <a href="javascript:void(0);" (click)="addToCart($event)" id="{{item.item_id}}" attr.data-name="{{item.item_name}}" attr.data-price="{{item.item_price}}" attr.data-seller-id="{{item.seller_id}}" attr.data-seller-name="{{item.seller_name}}" attr.data-expected-day="{{item.expected_day}}" attr.data-expected-starting-hour="{{item.expected_starting_hour}}" attr.data-expected-closing-hour="{{item.expected_closing_hour}}" attr.data-photo="{{item.item_photo}}" class="btn btn-secondary">Add <i class="zmdi zmdi-plus"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 d-none d-sm-none d-lg-block d-xl-block">
              <aside class="cartCheck_bar">
                  <div class="card">
                      <div class="card-body">
                          <h2>Your Order</h2>
                          <h6 class="tot-item" *ngIf="tot_item>0">{{tot_item}} Items</h6>
                          
                          <div class="add_cart">
                              <div class="row align-items-center" *ngFor="let item of cartItems; let in = index;">
                                  <div class="col-xl-5 col-5 col-md-12">
                                      <div class="custom-control custom-checkbox">
                                          <input type="checkbox" class="custom-control-input" checked>
                                          <label class="custom-control-label" for="customCheck1">{{item.name}}</label>
                                      </div>
                                  </div>
                                  <div class="col-xl-7 col-7 col-md-12">
                                      <div class="addQty_btn"> 
                                          <div class="input-group">
                                              <div class="btn-minus">
                                                <i class="fa fa-minus" [attr.data-val]="item.quantity" (click)="decreaseQuantity($event,in)"></i>
                                              </div>
                                              <input type="number" class="form-control" id="quantity-{{in}}" [(ngModel)]="item.quantity"/>
                                              <div class="btn-plus">
                                                <i class="fa fa-plus" [attr.data-val]="item.quantity" (click)="increaseQuantity($event,in)"></i>
                                              </div>
                                              <div class="input-group-prepend">
                                                  <span class="input-group-text"><i class="fa fa-rupee"></i> {{item.tot_price}}</span>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="addCart_total" *ngIf="tot_item>0">
                                  <table class="table">
                                      <tbody>
                                        <tr>
                                          <td>
                                              <h5>Subtotal</h5>
                                              <p>Extra charges may apply</p>
                                          </td>
                                          <td class="text-right">
                                              <h6>
                                                  <!--<span class="del"><del><i class="fa fa-rupee"></i> 129</del></span>-->
                                                  <i class="fa fa-rupee"></i> {{sub_total}}
                                              </h6>
                                          </td>
                                        </tr>
                                      </tbody>
                                  </table>
                              </div>

                              <!-- Empty Cart -->
                              <div class="empty-cart" *ngIf="tot_item<1">
                                <div class="empty-cart mtop3 tac" style="opacity: 0.6;">
                                  <!--<div class="ptop2">
                                    <img src="assets/img/empty-cart.png" class="mtop2">
                                  </div>-->
                                  <div class="mtop0 grey-text">Your cart is empty.<br>Add an item to begin.</div></div>
                              </div>
                              <!-- Empty Cart -->
                          </div>
                          <a *ngIf="tot_item>0" routerLink="/checkout" ro class="btn btn-success">Checkout <span class="lnr lnr-arrow-right ml-1"></span></a>
                      </div>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</section>


<!-- Cart trigger modal -->
<div class="cartOn_media">
  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
      <i class="fa fa-shopping-cart"></i>
      <span class="notice_no" *ngIf="tot_item>0">{{tot_item}}</span>
      <span class="notice_no" *ngIf="tot_item==0">0</span>
  </button>
</div>

<!-- Modal -->
<div class="modal fade cartOn_modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" id="cart-modal-close" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <aside class="cartCheck_bar">
                  <div class="card">
                      <div class="card-body">
                          <h2>Your Order</h2>
                          <h6 class="tot-item" *ngIf="tot_item>0">{{tot_item}} Items</h6>
                          <div class="add_cart">
                            <div class="row align-items-center" *ngFor="let item of cartItems; let in = index;">
                                <div class="col-xl-5 col-5 col-md-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" checked>
                                        <label class="custom-control-label" for="customCheck1">{{item.name}}</label>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-7 col-md-12">
                                    <div class="addQty_btn"> 
                                        <div class="input-group">
                                            <div class="btn-minus">
                                              <i class="fa fa-minus" [attr.data-val]="item.quantity" (click)="decreaseQuantity($event,in)"></i>
                                            </div>
                                            <input type="number" class="form-control" id="quantity-{{in}}" [(ngModel)]="item.quantity"/>
                                            <div class="btn-plus">
                                              <i class="fa fa-plus" [attr.data-val]="item.quantity" (click)="increaseQuantity($event,in)"></i>
                                            </div>
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fa fa-rupee"></i> {{item.tot_price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="addCart_total" *ngIf="tot_item>0">
                                <table class="table">
                                    <tbody>
                                      <tr>
                                        <td>
                                            <h5>Subtotal</h5>
                                            <p>Extra charges may apply</p>
                                        </td>
                                        <td class="text-right">
                                            <h6>
                                                <!--<span class="del"><del><i class="fa fa-rupee"></i> 129</del></span>-->
                                                <i class="fa fa-rupee"></i> {{sub_total}}
                                            </h6>
                                        </td>
                                      </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- Empty Cart -->
                            <div class="empty-cart" *ngIf="tot_item<1">
                              <div class="empty-cart mtop3 tac" style="opacity: 0.6;">
                                <!--<div class="ptop2">
                                  <img src="assets/img/empty-cart.png" class="mtop2">
                                </div>-->
                                <div class="mtop0 grey-text">Your cart is empty.<br>Add an item to begin.</div></div>
                            </div>
                            <!-- Empty Cart -->
                        </div>
                        <a *ngIf="tot_item>0" routerLink="/checkout" ro class="btn btn-success" (click)="hideModal()">Checkout <span class="lnr lnr-arrow-right ml-1"></span></a>
                    </div>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</div>

<!-- Button trigger modal -->