 <!-- Login Form -->
 <div class="_3yxHL" >
    <div>
      <div class="_31HMG">
        <div class="NA16F">Enter login details or </div>
        <a class="_2uH-f" (click)="signupForm = true; loginForm = false; otpForm = false"> create an account</a>
      </div>
      <div class="_31HMG {{msg_class}}">{{message}}</div>
      <form (ngSubmit)="f.form.valid && loginAction(f)" #f="ngForm" novalidate>
        <div>
          <div class="_3Um38 _3lG1r">
            <input class="_381fS " minlength="10" maxlength="10" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" type="text" numbersOnly name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" required tabindex="1" autocomplete="off" value="">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P " for="mobile">Phone number</label>
          </div>
          <div *ngIf="f.submitted && mobile.invalid" class="warning-msg">
              <div *ngIf="mobile.errors.required">Mobile Number is required</div>
              <div *ngIf="!mobile.errors.required && mobile.invalid">Mobile Number should be 10 digit</div>
          </div>
        </div>
        <div class="_25qBi _2-hTu">
            <button type="submit" class="btn btn-success">LOGIN</button>
        </div>
      </form>
    </div>
  </div>
  <!-- End of Login Form -->
