/**** Login Form ****/
._3yxHL {
    width: 350px;
    padding-top: 29px;
}

._31HMG {
    margin-bottom: 17px;
    margin-top: 5px;
}

.NA16F {
    display: inline-block;
    font-weight: 500;
    color: #7e808c;
}

._2uH-f {
    color: #fc8019 !important;
    cursor: pointer;
    font-weight: 500;
}

._3lG1r:last-child {
    border-bottom: 1px solid #d4d5d9!important;
}
._3Um38 {
    border: 1px solid #d4d5d9;
    padding: 0;
    display: block;
    position: relative;
    transform: translateZ(0);
}
._381fS {
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}
._2EeI1 {
    position: absolute;
    right: 20px;
    bottom: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #5d8ed5;
    transform: translateZ(0);
    cursor: pointer;
    will-change: transform;
    transition: .2s ease;
}
._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}
._1Cvlf {
    position: absolute;
    left: 0;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 17px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform,color,font-size;
    pointer-events: none;
    font-weight: 400;
}
._26LFr {
    -ms-transform: translateY(70%);
    transform: translateY(70%);
}
._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}
._25qBi {
    position: relative;
    clear: both;
}
._2-hTu {
    clear: both;
    margin-top: 20px;
}
._2REYC {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    line-height: 50px;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 2rem;
    color: #60b246;
    letter-spacing: 0;
    color: #fff !important;
    background-color: #60b246;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12);
}

._1FvHn {
    font-size: 12px;
    color: #7e808c;
    margin-top: 6px;
    font-weight: 500;
}

._3Frck {
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    margin-top: 6px;
    line-height: 1.12;
    font-size: 18px;
    color: #282c3f;
}

.QgO5l {
    text-transform: capitalize;
}

.QgO5l:after {
    content: "|";
    padding: 0 8px;
}