@charset "utf-8";
/* CSS Document */
/*  
@@@@ My Custome Stylesheet
*
*
	font-family: 'Roboto Condensed', sans-serif;
	font-family: 'alternate_gothic_no3_dregular';
	
*
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');
@font-face {
    font-family: 'alternate_gothic_no3_dregular';
    src: url('../fonts/alternate_gothic_no3_d_regular.woff2') format('woff2'),
         url('../fonts/alternate_gothic_no3_d_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


a, a:hover {
	text-decoration: none !important;
}
ul {
	margin-bottom: 0px !important;
}
li {
	list-style: none;
}
body {
	font-size: 14px;	
	font-weight: 400;
	margin:0;
	color:#7c7c7c !important;
	font-family: 'Roboto Condensed', sans-serif !important;
}

/*=== POPUP:: end all Boxes  ====*/
.sonar-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	background: #403e3e;
	width: 100%;
	height: 100%;	
	display: -ms-flexbox;
	display:flex;
	display:-webkit-flex;
	justify-content: center;
	vertical-align: -webkit-baseline-middle;
	vertical-align: middle;
	align-items: center;
	z-index: 9999;
}
/* ---- particles.js container ---- */
#particles-js{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #403e3e;
	opacity: 0.2;
  }
#loader{
	margin: auto;
	background: url(/assets/img/loder_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	z-index: 1;
}    
.loader-circle {
  border-top: 2px solid rgba(255,255,255,0.6); /* Blue */
  border-radius: 50%;
  width: 180px;
  height: 180px;
  animation: loader_spin 1.5s linear infinite;
}
@keyframes loader_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
/*===== End Landing Animation ====*/

.top_btn{
    position: fixed;
    bottom: 15px;
    z-index: 100;
    float: right;
    right: 2%;
}
.top_btn a{
    background-color: transparent;
    border: 2px solid #424040;
    color: #424040;
    font-size: 16px;
    display: none;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    padding: 12px;
	text-align: center;
	outline: none !important;
}
.top_btn a:hover, .top_btn a:focus{
	background-color: #424040;
	color: #FFF;
}
/*====== End TopButton Stylesheet ======*/

.navbar_wrap {	
	position: relative;
	left: 0;	
	right: 0;
	top: 0;
	z-index: 10;
}
#nav_bg {
	position: relative;
	z-index: 10;
}
#nav_bg .navbar_nav{
	background: #FFF;
	padding: 15px 0;
	-webkit-transition: background 500ms ease-in-out,padding 500ms ease-in-out;
	-moz-transition: background 500ms ease-in-out,padding 500ms ease-in-out;
	transition: background 500ms ease-in-out,padding 500ms ease-in-out;
}
.navbar_right{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}
#nav_bg .nav > li > a{
	color:#3d354c;
	font: 400 18px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	padding: 0;
	margin: .5rem 1rem;
	position: relative;
	overflow: hidden;
	-webkit-transition: background 500ms ease-in-out,font-size 500ms ease-in-out;
-moz-transition: background 500ms ease-in-out,font-size 500ms ease-in-out;
transition: background 500ms ease-in-out,font-size 500ms ease-in-out;
}
#nav_bg .nav > li{ margin-right: 15px;}
/* Hover effect */
#nav_bg .nav > li > a .link__layer {
    position: absolute;
    top: 0;
    overflow: hidden;
    background-color: #FFF;
    width: 100%;
    display: block;
    -moz-transform: translate3d(-100%,0,0);
-webkit-transform: translate3d(-100%,0,0);
-o-transform: translate3d(-100%,0,0);
-ms-transform: translate3d(-100%,0,0);
transform: translate3d(-100%,0,0);
    animation: anim-out-layer .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#nav_bg .nav > li > a .link__layer::before {
    background-color:#FFF;
	content: attr(data-text);
	width: 100%;
	display: block;
	-moz-transform: translate3d(100%,0,0);
-webkit-transform: translate3d(100%,0,0);
-o-transform: translate3d(100%,0,0);
-ms-transform: translate3d(100%,0,0);
transform: translate3d(100%,0,0);
	color:#F19A4B;
    animation: anim-out-text .3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#nav_bg .nav > li > a:hover .link__layer {
    animation: anim-in-layer .3s ease forwards;
}
#nav_bg .nav > li > a:hover .link__layer::before {
    animation: anim-in-text .3s ease forwards;
}

@keyframes anim-in-layer{0%{transform:translate3d(-100%,0,0)}to{transform:translateZ(0)}}
@keyframes anim-out-layer{0%{transform:translateZ(0)}to{transform:translate3d(100%,0,0)}}
@keyframes anim-in-text{0%{transform:translate3d(100%,0,0)}to{transform:translateZ(0)}}
@keyframes anim-out-text{0%{transform:translateZ(0)}to{transform:translate3d(-100%,0,0)}}
/*  end */

.navToggle_btn{
	border: 1px solid #2e2929;
}
.navToggle_btn .btn{
	color: #2e2929;
	font: 400 18px/24px 'Roboto Condensed', sans-serif;
	border-radius: 0px;
	text-decoration: none !important;
	cursor: pointer;
}
.navToggle_btn .btn.active{
	color: #FFF;
	background: #2e2929;
}

/* == Stick effect == */
#nav_bg.stick .navbar_nav{
	background: #FFF;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	box-shadow: 0 5px 5px rgba(0,0,0,0.1);
	padding: 2px 0;
	-webkit-transition: background 500ms ease-in-out,padding 500ms ease-in-out;
	-moz-transition: background 500ms ease-in-out,padding 500ms ease-in-out;
	transition: background 500ms ease-in-out,padding 500ms ease-in-out;
}
#nav_bg.stick .nav > li > a{
	margin: 0 1rem;
	-webkit-transition: background 500ms ease-in-out,margin 500ms ease-in-out;
	-moz-transition: background 500ms ease-in-out,margin 500ms ease-in-out;
	transition: background 500ms ease-in-out,margin 500ms ease-in-out;
}

/* side slide menu */
.mobile_menu{
	display: none;
	position: relative;
}
#nav_media {
	background: #FFF;
	-webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}
.slide_menu{ position:relative;}
#sidebar {
	height: 100%;
	width: 300px;
	position: fixed;    
	top: 0;
	left: -100%;
	background-color: #FFF;
	overflow-x: hidden;
	transition: 0.5s;
	text-align:left;
	z-index: 999;
}
.nav_icon .fa {
	font-size: 22px;
	cursor: pointer;
	color: #2e2929;
	border: 1px solid #2e2929;
	padding: 8px 10px;
	border-radius: 4px;
}
.sidenav #dismiss {
  position: absolute;
  top: 15px;
	right: 15px;
	width: 28px;
	height: 28px;
	border: 1px solid #3d354c;
	border-radius: 50%;
	text-align: center;
  font-size: 100%;
  color: #3d354c;
	font-weight:normal;
	cursor: pointer;
	z-index:10;
}
#dismiss .lnr {    
	color: #3d354c;
	font-size: 16px;
    line-height: 26px;
}
#sidebar.active {
    left: 0;
}
.overlay {
  display: none;
	position: fixed;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}
.nav_side_menu{}
.menu_list{
	margin-bottom: 25px;
}
.menu_list > ul > li + li{
	border-top: 1px solid #2e2929;
}
.menu_list ul > li > a{
    color: #3d354c;
	font: 400 14px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
    display: block;
    padding: 8px 15px;
}
.navToggle_btn .btn-group{ width: 100%;}
/* End side slide menu */


.navbar_order{
	background: #2e2929;
}
.location_track{}
.location_track .zmdi{ font-size: 24px;}
.location_track p{
	color: #cccccc;
	font: 400 12px/20px 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
	margin: 0px;
}
.location_track h4{
	color: #FFF;
	font: normal 20px/26px 'alternate_gothic_no3_dregular';
	margin: 0;
}
.location_track .btn{
	color: #b6b6b6;
	font: 400 16px/20px 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
	background: #433f3f;
	border-color: #433f3f;
	border-radius: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
.custome_status{
	text-align: right;
}
.custome_status .btn-group .btn{
	color: #FFF;
	font: normal 20px/32px 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
	background-color: #433f3f;
	border: none;
	border-radius: 0px;
	box-shadow: none !important;
	padding: 20px 55px;
	cursor: pointer;
}
.custome_status .btn-group .btn.btn.active{
	background-color: #040404;
}
.custome_status .btn-group .btn input[type="radio"]{
	/* margin-right: 5px;
	position: relative; */
}
/*! === // Header:: End all header stylesheet // === !*/

.banner_sec {
	text-align: center;
	/* margin-top: -100px; */
	position: relative;
}
.banner_sec .carousel-inner .carousel-item > img {
	-webkit-animation: zoom 20s;
	animation: zoom 20s;
  }
@-webkit-keyframes zoom {
	from {
	  -webkit-transform: scale(1, 1);
	}
	to {
	  -webkit-transform: scale(1.3, 1.3);
	}
  }
  
  @keyframes zoom {
	from {
	  transform: scale(1, 1);
	}
	to {
	  transform: scale(1.3, 1.3);
	}
  }
/*! === // SECTION:: End Banner  // === !*/

.search_bar {
    padding-top: 75px;
    text-align: center;
	/* position: relative; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    z-index: 1;
}
.search_bar h2{
	color: #2e2929;
	font: normal 74px/normal 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
	margin: 0px;
}
.search_bar p{
	color: #414140;
	font: 400 14px/24px 'Roboto Condensed', sans-serif;
}
.search_bar .input-group{
	background: rgba(255,255,255,0.6);
	border: 1px solid #827f7f;
	margin-top: 2rem;
}
.search_bar .form-control{
	background: none !important;
	border: none;
	border-radius: 0px;
	box-shadow: none !important;
	height: 60px;
}
.search_bar .btn-light{
	color: #1b1918;
	font: 400 14px/24px 'Roboto Condensed', sans-serif;
	background: none !important;
	border: none !important;
	min-width: 160px;
	text-align: left;
}
.search_bar .btn-secondary{
	background: #827f7f;
	border: none;
	border-radius: 0px;
	color: #fff;
	font: 700 14px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	width: 150px;
}
/*! === // SECTION:: End Search Bar // === !*/

.footer_cont{
	padding: 15px 0;
	text-align: center;
}
.footer_cont li a{
	color: #FFF;
	font-size: 14px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	line-height: 34px;
	background: #1b1918;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	vertical-align: -webkit-baseline-middle;
	vertical-align: middle;
	align-items: center;
}
/*! === // FOOTER:: End Footer // === !*/

.order_sec{
	padding: 75px 0;
}
.order_list{}
.order_list h2{
	color: #2e2929;
	font: 300 74px/normal 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-align: center;
	margin-bottom: 2rem;
}
.order_list .card{
	border: none;
	border-radius: 0px;
	margin-bottom: 2rem;
}
.order_list .card-img{
	height: 200px;
	border-radius: 0px;
	overflow: hidden;
	margin-bottom: 1.3rem;
}
.order_list .card-img img{
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.order_list .card h3{
	color: #2e2929;
	font: 400 18px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	margin: 0;
}
.rating_meta{ padding-bottom: 5px;}
.rating_meta a{
	color: #ffaa00;
	font-size: 12px;
	display: inline-block;
	padding-right: 5px;
}
.rating_meta span{
	color: #2e2929;
	font: 300 14px/20px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}
.order_list .card h6{
	color: #abaaaa;
	font: 400 12px/16px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}
.order_list .card h6 span{
	color: #60b246;
	font-size: 16px;
	margin-left: 5px;
}
.order_list .card-footer{
	background: none;
	border: none;
	padding: 0px;
	margin-top: 1.5rem;
}
.order_list .card-footer .btn-link{
	color: #2e2929;
	font: 400 18px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	text-decoration: underline !important;
	padding: 0px;
}
.order_list .card-footer .btn-secondary{
	color: #181818;
	font: 700 16px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	background: #ebebeb;
	border-color: #ebebeb;
	border-radius: 0px;
}
/* ====== end Order list ===== */
.order_sec .cartCheck_bar{
	margin-top: 120px;
}
.cartCheck_bar{
	padding-left: 20px;
}
.cartCheck_bar .card{ border-radius:0px;}
.cartCheck_bar h2{
	color:#2e2929;
	font: normal 28px/28px 'alternate_gothic_no3_dregular';
}
.cartCheck_bar p{
	color: #777777;
	font: 300 14px/24px 'Roboto Condensed', sans-serif;
	margin: 0px;
}
.cartCheck_bar h6{
	color: #414140;
	font: 400 16px/24px 'Roboto Condensed', sans-serif;
}
.add_cart label{
	color: #414140;
	font: normal 14px/24px 'alternate_gothic_no3_dregular';
}
.add_cart .custom-control-label::before{
	width: 12px;
	height: 12px;
	border-radius: 0px !important;
	border-color: #60b246;
}
.add_cart .custom-control-label::after{
	width: 12px;
	height: 12px;
	top: 0px;
	left: -21px;
}
.add_cart .custom-control-input:checked ~ .custom-control-label::before{
	background-color: transparent;
	border-color: #60b246;
}
.add_cart .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
	background: none;
	content: "\f111";
	font-family:'FontAwesome';
	color: #60b246;
	font-size: 7px;
	line-height: 20px;
}
.add_cart .custom-control-input:checked ~ .custom-control-label.active::before{
	border-color: #ad4728;
}
.add_cart .custom-checkbox .custom-control-input:checked ~ .custom-control-label.active::after{
	color: #ad4728;
}
.add_cart .btn-minus{
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #ccc;
	border-radius:0px;
	border-right:0;
}
.add_cart .btn-plus{
	cursor:pointer;
	display:flex;
	align-items:center;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #ccc;
	border-radius:0px;
	border-left:0;
}
.add_cart .btn-plus .fa, .add_cart .btn-minus .fa{ font-size:12px;}
.add_cart .addQty_btn > div {
	width:100%;
	display:inline-flex;
}
.add_cart .addQty_btn input{ text-align:center;}
.add_cart .input-group-text{
	color: #414140;
	font: normal 14px/20px 'alternate_gothic_no3_dregular';
	background: none;
	border: none;
	border-radius: 0px;
	padding: 0px;
	margin-left: 10px;
}
.addCart_total{ padding-top: 15px;}
.addCart_total .table td{
	border: none;
	padding: .75rem 0;
}
.addCart_total h5{
	font: 700 18px/24px 'Roboto Condensed', sans-serif;
	margin: 0px;

}
.addCart_total .del{ color: #6c757d; padding-right: 5px;}
.cartCheck_bar .card .btn{
	color: #FFF;
	font: 700 18px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 0px;
	display: block;
}
/*! === // PAGE:: End Order Slider // === !*/

.checkOut_sec{
	padding: 65px 0;
}
.checkOut_step > .nav-tabs{ border: none;}
.checkOut_step > .nav-tabs li{
	width: calc(98% / 3);
	text-align: center;
}
.checkOut_step > .nav-tabs li:not(:last-child){ margin-right: 1%;}
.checkOut_step > .nav-tabs li a{
	color: #2e2929;
	font: normal 32px/34px 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: #f8f8f8;
	border: none;
	border-radius: 0px;
	padding: .8rem 1rem;
	position: relative;
	-webkit-transition: background-color 500ms ease-in-out;
	-moz-transition: background-color 500ms ease-in-out;
	-ms-transition: background-color 500ms ease-in-out;
	-o-transition: background-color 500ms ease-in-out;
	transition: background-color 500ms ease-in-out;
}
.checkOut_step > .nav-tabs li a span{
	color: rgba(46,41,41,0.5);
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 5px;
	display: block;
	-webkit-transition: color 500ms ease-in-out;
-moz-transition: color 500ms ease-in-out;
-ms-transition: color 500ms ease-in-out;
-o-transition: color 500ms ease-in-out;
transition: color 500ms ease-in-out;
}
.checkOut_step > .nav-tabs .nav-item.show .nav-link,
.checkOut_step > .nav-tabs .nav-link.active{
	color: #FFFFFF;
	background-color: #2e2929;
	-webkit-transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
	-moz-transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
	-ms-transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
	-o-transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
	transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}
.checkOut_step > .nav-tabs .nav-item.show a > span,
.checkOut_step > .nav-tabs a.active > span{
	color: #FFFFFF;
	-webkit-transition: color 500ms ease-in-out;
-moz-transition: color 500ms ease-in-out;
-ms-transition: color 500ms ease-in-out;
-o-transition: color 500ms ease-in-out;
transition: color 500ms ease-in-out;
}
.checkOut_step > .nav-tabs .nav-item.step_done{
	cursor: no-drop;
}
.checkOut_step > .nav-tabs .nav-item.step_done:not(.step_not_done) a::before{
	position: absolute;
	top: 0px;
	left: 5%;
	content: "";
	display: block;
	width: 68px;
	height: 68px;
	background: url(/assets/img/checked.png) no-repeat left center;
	background-size: auto;
}
.checkOut_step > .nav-tabs .nav-item.step_done a.active::before{ display: none;}
.checkOut_step > .nav-tabs .nav-item.step_not_done .nav-link{
	color: rgba(46,41,41,0.5);
	pointer-events: none;
}
.checkOut_step > .nav-tabs .nav-item.step_done .nav-link.active{
	color: #FFF;
}
.checkOut_step .tab-content{
	padding: 45px 0;
}
.checkOut_step .cont_head{ margin-bottom: 2.5rem;}
.checkOut_step .cont_head h2{
	color: #2e2929;
	font: normal 74px/normal 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
}
.checkOut_step .cont_head h6{
	color: rgba(46,41,41,0.60);
	font: normal 16px/normal 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
	letter-spacing: 1px;
}
.signIn_btn .btn{
	font: normal 22px/28px 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
	border: 1px solid #60b246;
	border-radius: 0px;
	min-width: 200px;
	padding: 8px 30px;
}
.signIn_btn .btn span{
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	display: block;
}
.signIn_btn .btn-link, .signIn_btn .btn-link:hover, .signIn_btn .btn-link:focus{ color: #60b246;}
/* ==== STEP 1 ===== */
.address_list{}
.address_list .card{
	border-radius: 0px;
}
.location_icon span{
	font-size: 20px;
}
.address_list .card h4{
	color: #2e2929;
	font: 400 20px/24px 'Roboto Condensed', sans-serif;
}
.address_list .card address{
	color: rgba(46,41,41,0.60);
	font: 400 14px/18px 'Roboto Condensed', sans-serif;
}
.address_list .media-body{
	min-height: 185px;
	position: relative;
}
.address_list .media-footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}
.address_list .media-footer h6{
	color: #2e2929;
	font: 400 16px/24px 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
}
.address_list .media-footer .btn{
	color: #FFF;
	font: normal 18px/24px 'alternate_gothic_no3_dregular';
	text-transform: uppercase;
	border-radius: 0px;
	border: 1px solid #60b246;
	min-width: 125px;
}
.address_list .media-footer .btn-link{
	color: #60b246;
}
/* ==== STEP 2 ===== */

.payment_category{}
.choose_card{
	border-top: 1px solid #60b246;
	border-bottom: 1px solid #60b246;
	margin-bottom: 2.5rem;
}
.payment_category .choose_card li{ position: relative;}
.payment_category .choose_card li:not(:last-child)::before{
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: #60b246;
}
.payment_category .choose_card .btn{
	text-transform: uppercase;
	background: none !important;
	border: none;
	border-radius: 0px;
	box-shadow: none !important;
	padding: 1rem 1.75rem;
}
.payment_category .choose_card .btn label{
	color: #2e2929;
	font: 400 26px/24px 'Roboto Condensed', sans-serif;
	-webkit-transition: color 500ms ease-in-out;
-moz-transition: color 500ms ease-in-out;
-ms-transition: color 500ms ease-in-out;
-o-transition: color 500ms ease-in-out;
transition: color 500ms ease-in-out;
}
.payment_category .choose_card .btn label::before, .payment_category .choose_card .btn label::after{
	opacity: 0;
	-webkit-transition: opacity 500ms ease-in-out;
-moz-transition: opacity 500ms ease-in-out;
-ms-transition: opacity 500ms ease-in-out;
-o-transition: opacity 500ms ease-in-out;
transition: opacity 500ms ease-in-out;
}
.payment_category .choose_card .btn-secondary:not(:disabled):not(.disabled).active label,
.payment_category .choose_card .btn-secondary:not(:disabled):not(.disabled):active label{
	color: #60b246;
	-webkit-transition: color 500ms ease-in-out;
	-moz-transition: color 500ms ease-in-out;
	-ms-transition: color 500ms ease-in-out;
	-o-transition: color 500ms ease-in-out;
	transition: color 500ms ease-in-out;
}
.payment_category .choose_card .btn-secondary:not(:disabled):not(.disabled).active label::before,
.payment_category .choose_card .btn-secondary:not(:disabled):not(.disabled):active label::before{
	opacity: 1;
	border-radius: 0px;
	background:#60b246;
	border-color: #60b246;
	box-shadow: none !important;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
}
.payment_category .choose_card .btn-secondary:not(:disabled):not(.disabled).active label::after,
.payment_category .choose_card .btn-secondary:not(:disabled):not(.disabled):active label::after{
	opacity: 1;
	top: 0;
	content: "\f00c";
	display: block;
	color: #FFF;
	font-family: 'FontAwesome';
	font-size: 12px;
	background: none;
	box-shadow: none !important;
	-webkit-transition: opacity 500ms ease-in-out;
	-moz-transition: opacity 500ms ease-in-out;
	-ms-transition: opacity 500ms ease-in-out;
	-o-transition: opacity 500ms ease-in-out;
	transition: opacity 500ms ease-in-out;
}
/* ==== */
.card_details{}
.card_details h6{
	color: #2e2929;
	font: 400 14px/24px 'Roboto Condensed', sans-serif;
	margin: 0;
}
.card_details .card_icon{
	color: #7e808c;
	font: 400 14px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	padding-bottom: 1.5rem;
}
.card_details .card{
	border-radius: 0px;
}
.card_details .card-header, .card_details .card-footer{
	background: none;
	border-radius: 0px;
}
.card_details .card p{
	font: 400 14px/24px 'Roboto Condensed', sans-serif;
	margin: 0px;
}
.card_details .card-body{
	padding: 0px 1.25rem;
}
.card_details .card ul{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.card_details .card li{
	padding: .75rem 15px;
}
.card_details .card li:not(:last-child){
	border-right: 1px solid #ccc;
}
.card_details .card .form-control{
	border: none;
	box-shadow: none !important;
	border-radius: 0px;
	padding: 0px;
}
.card_details .btn{
	color: #FFF;
	font: 700 16px/24px 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	height: 45px;
	border-radius: 0px;
}
.card_details .custom-checkbox .custom-control-label::before{
	border-radius: 0px;
}
.card_details .custom-control-input:checked ~ .custom-control-label::before {
	background:#60b246;
	border-color: #60b246;
}
/* ==== STEP 3 ===== */
/*! === // PAGE:: End Checkout Step // === !*/

.checkOut_bar .card{
	border: none;
	-webkit-box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
	box-shadow: 0 5px 10px 2px rgba(0,0,0,0.1);
}
.checkOut_bar .table td{ padding: 0px;}
.checkOut_bar .addCart_total .table th{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	border-top: 2px solid #2e2929;
}
.checkOut_bar .addCart_total .table{ margin: 0px;}
/*! === // PAGE:: End Checkout Slider // === !*/

.cms_cont{
	padding: 65px 0;
}
.cms_cont h2{
    color: #2e2929;
    font: normal 24px/28px 'alternate_gothic_no3_dregular';
}
.cms_cont p{
	color: #777777;
	font: 300 14px/24px 'Roboto Condensed', sans-serif;
}
/* ===== */
.cartOn_media {
    position: fixed;
    bottom: 70px;
    z-index: 100;
    float: right;
	right: 2%;
	display: none;
}
.cartOn_media .btn {
	color: #FFF;
	font-size: 22px;
    border-radius: 50%;
    width: 46px;
	height: 46px;
	-webkit-box-shadow: 0 0 0px 3px rgba(40,167,69,0.5);
	box-shadow: 0 0 0px 3px rgba(40,167,69,0.5);
	display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	justify-content: center;
    align-items: center;
}
.notice_no {
    position: absolute;
    top: -10px;
	right: 0;
	color: #FFF;
	font-size: 12px;
	line-height: 26px;
    background: #000;
    width: 26px;
    height: 26px;
    border-radius: 50%;    
    text-align: center;
}
/* Modal */
.cartOn_modal .modal-dialog {
	display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    justify-content: center;
	vertical-align: -webkit-baseline-middle;
	vertical-align: middle;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.cartOn_modal .modal-content{
	margin: auto;
}
.cartOn_modal .modal-header {
    border: none;    
    justify-content: flex-end;
    align-items: center;
	padding: 0;
}
.cartOn_modal .modal-header .close {
	padding: 0;
    opacity: 1;
    width: 30px;
    height: 30px;
    background:#fff;
	border-radius: 50%;	
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    cursor: pointer;
	display: block;
	margin-top: -5px;
	margin-right: -5px;
    margin-left: 0;
    margin-bottom: 0;
}
body.modal-open{ overflow: hidden !important;}
/*! === // PAGE:: End CMS // === !*/

/*! === // PAGE:: End Slider // === !*/





/*-==============================
		@media Stylesheet
================================*/

@media screen and (max-width:400px) {}
/*/ Extra small devices (portrait phones, less than 576px)*/

@media screen and (min-width:401px) and (max-width: 575.98px) {}

@media (max-width: 575.98px) {
	.mobile_menu .media .navToggle_btn{
		/* display: none; */
	}
	.search_bar .btn_submit{
		display: block;
		width: 100%;
		margin: 0;
	}
	.search_bar .btn_submit .btn{
		width: 100%;
		display: block;
	}
	/* ====== */
	.custome_status{ text-align: center;}
	.custome_status .btn-group .btn{
		font-size: 14px;
		line-height: 22px;
		padding: 5px 15px;
	}
	/* ====== */
	.payment_category .choose_card .btn label{
		font-size: 10px;
	}
	.payment_category .choose_card .btn-secondary:not(:disabled):not(.disabled).active label::after, .payment_category .choose_card .btn-secondary:not(:disabled):not(.disabled):active label::after {
		line-height: 24px;
	}
	/* ====== */
	
	.signIn_btn .btn{ min-width: auto;}
	/* ====== */
	
	.checkOut_step .cont_head h2{
		font-size: 34px;
	}
	.checkOut_step > .nav-tabs li{ /* width: 100%; */ }
	.checkOut_step > .nav-tabs li:not(:last-child){ margin-bottom: 5px;}
	.checkOut_step > .nav-tabs .nav-item.step_done a::before{
		background-size: 16px;
		top: -10px;
	}
	
}
@media screen and (min-width:576px) and (max-width:767.98px) {
	.mobile_menu .nav_side_menu .navToggle_btn{
		/* display: none; */
	}
	.payment_category .choose_card .btn label{
		font-size: 14px;
	}
	.custome_status .btn-group .btn{ padding: 15px 30px;}
	/* ===== */
	.search_bar .btn-light{ min-width: auto;}
	/* ====== */
	.checkOut_step .cont_head h2{
		font-size: 44px;
	}
	.checkOut_step > .nav-tabs .nav-item.step_done a::before{ background-size: 34px;}
}

@media screen and (max-width:767px) {
	
	#nav_bg{ display: none;}
	.mobile_menu, .cartOn_media{
		display: block;
	}
	/*! === // end COMMON // === !*/

	#nav_bg .navbar-brand{ opacity: 1; padding: 5px; display: block; margin: 0px;}
	#nav_bg .navbar-toggler, #nav_bg .navbar-toggler:focus {
		background:none;
		border-color: #00a3f3;
		color: rgba(0, 0, 0, 0.5);
		padding: 8px 10px;
    /* margin: 10px 15px; */
    line-height: 10px;
		outline:none;
	}
	#nav_bg .navbar-toggler-icon{
		background-image:url(/assets/img/toggler_icon.png);
		background-repeat:no-repeat;
		width: 12px;
		height: 12px;
		background-size: 100%;
	}	
	#nav_bg .navbar_right > li{
		border-bottom: 1px solid #e1e1e1;
		display:block;
		width:100%;
		text-align: left;
		margin: 0px;
	}	
	#nav_bg .navbar_right .nav-item > a{ padding: 10px 0px;}		
	#nav_bg .navbar_right > li > a::before{ display: none;}
	/*! === // endHeader Sec // === !*/

	.search_bar{
		padding-top: 35px;
		position: relative;
	}
	.search_bar h2{ font-size: 48px;}
	/* ===== */
	.location_track h4{
		font-size: 14px;
		line-height: 18px;
	}
	/* ==== */

	.order_list h2{
		font-size: 34px;
	}
	.order_list .card-img{
		height: 140px;
	}
	
	.checkOut_sec{ padding: 35px 0;}
	.cartCheck_bar {
		margin-top: 0px;	
		padding: 0px;
	}
	.checkOut_step > .nav-tabs li a{
		font-size: 20px;
		line-height: 24px;
	}
	/* ====== */

	.address_list .card{ margin-bottom: 15px;}
	.address_list .media-body{ min-height: auto;}
	.address_list .media-footer{ position: relative;}

}
@media screen and (min-width:768px) and (max-width:991.98px) {
	.cartOn_media{ display: block;}
	/*! === // end COMMON // === !*/

	#nav_bg{ margin: 0px;}
	#nav_bg .navbar-brand{ opacity: 1; padding: 5px 15px; display: block;}
	#nav_bg .navbar-toggler, #nav_bg .navbar-toggler:focus {
		background:none;
		border-color: #00a3f3;
		color: rgba(0, 0, 0, 0.5);
		padding: 8px 10px;
    	margin: 10px 15px;
    	line-height: 10px;
		outline:none;
	}
	#nav_bg .navbar-toggler-icon{
		background-image:url(/assets/img/toggler_icon.png);
		background-repeat:no-repeat;
		width: 12px;
		height: 12px;
		background-size: 100%;
	}
	#nav_bg .navbar-brand{ opacity: 1; padding: 5px 15px;}
	#nav_bg.stick .navbar { padding: 0;}
	
	#nav_bg .navbar_right > li {
		width: auto;
		display: inline-block;
		margin: 0;
	}
	#nav_bg .nav > li > a,
	#nav_bg.stick .nav > li > a {
		font-size: 14px;
		margin: 0 5px;
	}
	#nav_bg .navbar_right > li > a::before {
		top: 12px;
		right: -5px;
		content: "";
		width: 1px;
		height: 16px;
		background: #000;
	}
	.navToggle_btn .btn{
		font-size: 14px;
		line-height: 20px;
	}
	/* ===== */
	.location_track h4{
		font-size: 16px;
		line-height: 20px;
	}
	.custome_status .btn-group .btn{
		font-size: 16px;
		padding: 15px 25px;
	}
	/*! === // endHeader Sec // === !*/

	.search_bar{
		padding-top: 25px;
	}
	/* ======== */

	.order_sec{ padding: 45px 0;}
	.order_list h2{
		font-size: 40px;
	}
	.order_list .card-img{
		height: 140px;
	}
	.order_sec .cartCheck_bar {
		margin-top: 80px;	
	}
	.order_list .card h3{ font-size: 14px;}
	.rating_meta span,
	.order_list .card h6 span{
		font-size: 12px;
		margin: 0;
	}
	/* ===== */

	.address_list .card{ margin-bottom: 15px;}
	/* ====== */

	.checkOut_step .cont_head h2{
		font-size: 44px;
	}
	.checkOut_step > .nav-tabs li a{
		font-size: 20px;
		line-height: 24px;
	}
	.checkOut_step > .nav-tabs .nav-item.step_done a::before{ background-size: 26px;}
	.cartCheck_bar{ padding: 0px;}
	.checkOut_step .cont_head h2 { font-size: 38px;}
	.payment_category .choose_card .btn label{ font-size: 16px;}
}

@media screen and (min-width:1024px) {}

@media screen and (min-width:992px) and (max-width:1199.98px) {
	#nav_bg .navbar_right li{ margin-right: 12px;}
	#nav_bg .navbar_right > li > a{ font-size: 14px;}
	/* ====== */

	.address_list .card{ margin-bottom: 15px;}
	/* ===== */
	.order_list h2{
		font-size: 54px;
	}
	.order_sec .cartCheck_bar {
		margin-top: 98px;
	}
	.checkOut_step .cont_head h2{
		font-size: 44px;
	}
	.checkOut_step > .nav-tabs li a{
		font-size: 20px;
		line-height: 24px;
	}
	.checkOut_step > .nav-tabs .nav-item.step_done a::before{ background-size: 26px;}
	.cartCheck_bar{ padding: 0px;}
	.checkOut_step .cont_head h2 { font-size: 38px;}
	.payment_category .choose_card .btn label{ font-size: 16px;}

}
@media screen and (min-width:1200px) {
	body .container{
		max-width: 1278px;
	}
}
@media (min-width:1300px) and (max-width:1367px) {}
@media screen and (min-width:1500px) {}
@media screen and (min-width:2500px) {}


/* Style adjustments for high resolution devices */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {

}
/* #Tablet (Portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}
/*  #Mobile (Portrait) - Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
	
}
/* #Mobile (Landscape) - Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

