<aside class="side_bar">
  <ul class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <li>
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">My Account <i class="fa fa-angle-right pull-right"></i></a>
      </li>
      <li>
          <a class="nav-link" id="v-pills-order-tab" data-toggle="pill" href="#v-pills-order" role="tab" aria-controls="v-pills-order" aria-selected="false">Order List <i class="fa fa-angle-right pull-right"></i></a>
      </li>  
      <li>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Order Info <i class="fa fa-angle-right pull-right"></i></a>
      </li>                            
      <li>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Sign out <i class="fa fa-angle-right pull-right"></i></a>
      </li>
  </ul>
</aside>