<section class="banner_sec">
  <div class="search_bar">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8">
                      <h2>Order food Online!	</h2>
                      <p>Find out what is being cooked at the moment near you</p>
                      <form (ngSubmit)="f.form.valid && saveLocation(f.value)" #f="ngForm" novalidate>
                      <div class="input-group">
                        <input type="text" class="form-control" name="full_address" required [(ngModel)]="model.full_address" [options]='options' (setAddress) = "getAddress($event)" (FormatAddress)="getFormattedAddress($event)" (lat)='lat=$event' (lng)='lng=$event' id="autocomplete" angularGooglePlace/>
                        <input type="hidden" class="form-control" name="cur_lat" required [(ngModel)]="model.cur_lat">
                        <input type="hidden" class="form-control" name="cur_lon" required [(ngModel)]="model.cur_lon">

                        <div class="input-group-append">
                          <button type="button" class="btn btn-light"><i class="zmdi zmdi-gps-dot"></i> Find Me</button>
                        </div>
                        <div class="input-group-append btn_submit">
                          <button [disabled]="!f.form.valid" type="submit" class="btn btn-secondary">Find Food</button>
                        </div>
                      </div>
                      </form>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="/assets/img/slider1.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item">
                  <img src="/assets/img/slider1.png" class="img-fluid" alt="...">
              </div>
              <div class="carousel-item">
                  <img src="/assets/img/slider1.png" class="img-fluid" alt="...">
              </div>
          </div>
      </div>
  </div>
</section> 
