<!--Start Header-->
<header> 
  <div class="sonar-wrapper">
      <div id="particles-js"></div>
      <div class="sound-wave" id="loader">
          <div class="loader-circle"></div>
      </div>
  </div>
  <!-- Loader Animation -->
  <div class="navbar_wrap">
      <nav id="nav_bg">
          <div class="navbar_nav">
              <div class="container">
                  <div class="row align-items-center">
                      <div class="col-md-3">
                          <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.png"></a>
                      </div>
                      <div class="col-md-9">
                          <div class="navbar_right">
                              <ul class="nav">
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/">Home
                                          <span class="link__layer" data-text="Home"></span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/about-us">About us
                                          <span class="link__layer" data-text="About us"></span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/services">Services
                                          <span class="link__layer" data-text="Services"></span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/contact-us">Contact
                                          <span class="link__layer" data-text="Contact"></span>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a class="nav-link" routerLink="/terms">terms
                                          <span class="link__layer" data-text="Terms"></span>
                                      </a>
                                  </li>
                              </ul>
                              <div class="navToggle_btn" *ngIf="!currentUser">
                                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                      <label class="btn btn-link active">
                                          <input type="radio" name="options" id="option1" checked> Login
                                      </label>
                                      <label class="btn btn-link">
                                          <input type="radio" name="options" id="option2"> Sign Up
                                      </label>
                                  </div>
                              </div>
                              <div class="navToggle_btn" *ngIf="currentUser">
                                <!--<div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-link active">
                                        <input type="radio" name="options" id="option1" checked> My Account
                                    </label>
                                    <label class="btn btn-link" (click)="logout()">
                                        <input type="radio" name="options" id="option2"> Logout
                                    </label>
                                </div>-->

                                <div class="btn-group dash_btn" role="group" aria-label="Button group with nested dropdown">
                                    <span type="button" class="btn btn-secondary"><i class="fa fa-user"></i></span>                                          
                                    <div class="btn-group" role="group">
                                      <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dashboard
                                      </button>
                                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="#">Profile <i class="fa fa-angle-right pull-right"></i></a></li>
                                        <li><a class="dropdown-item" href="#">My Order <i class="fa fa-angle-right pull-right"></i></a></li>
                                        <li><a class="dropdown-item" href="#">My Quote <i class="fa fa-angle-right pull-right"></i></a></li>
                                        <li><a class="dropdown-item" href="#">Settings <i class="fa fa-angle-right pull-right"></i></a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);" (click)="logout()">Logout <i class="fa fa-angle-right pull-right"></i></a></li>
                                      </ul>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>  
          </div>
      </nav> 
      <!-- ! Tab Menu ! -->
      <div class="mobile_menu">
          <div id="nav_media">
              <div class="container">
                  <div class="media">
                      <div class="slide_menu align-self-center">
                          <span class="nav_icon" id="sidebarCollapse"><i class="fa fa-bars"></i></span>
                      </div>
                      <div class="w-100 text-center">
                          <a routerLink="/" class="navbar-brand"><img src="assets/img/logo.png"></a>
                      </div>
                  </div>
              </div> 
          </div>
          <nav id="sidebar" class="sidenav">
              <div class="nav_side_menu">
                  <div class="menu_list">                            
                      <ul class="list-unstyled">
                          <li><a routerLink="/">Home</a></li>
                          <li><a routerLink="/about-us">About us</a></li>
                          <li><a routerLink="/services">Services</a></li>
                          <li><a routerLink="/contact-us">Contact</a></li>
                          <li><a routerLink="/terms">terms</a></li>
                      </ul>
                  </div>
                  <div class="navToggle_btn">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="!currentUser">
                          <label class="btn btn-link active">
                              <input type="radio" name="options" id="option1" checked> Login
                          </label>
                          <label class="btn btn-link">
                              <input type="radio" name="options" id="option2"> Sign Up
                          </label>
                      </div>
                      <div class="btn-group btn-group-toggle" data-toggle="buttons" *ngIf="currentUser">
                        <label class="btn btn-link active">
                            <input type="radio" name="options" id="option1" checked> My Account
                        </label>
                        <label class="btn btn-link" (click)="logout()">
                            <input type="radio" name="options" id="option2"> Logout
                        </label>
                        </div>
                  </div>
              </div>
          </nav>
          <div class="overlay"></div>
      </div>
      <!-- ! Tab Menu ! -->    
  </div>            
</header>
<!-- End Header -->