<section class="account_sec">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-lg-9">
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h2 class="title">My Account</h2>
                <div class="account_part">
                    <h5>Details</h5>
                    <div class="account_view">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="">First Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <p>First name</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="">Last Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <p>Last name</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="">Email address</label>
                                </div>
                                <div class="col-sm-9">
                                    <p>abc@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="">Password</label>
                                </div>
                                <div class="col-sm-9">
                                    <p>********************</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Edit <i class="fa fa-edit ml-2"></i></button>
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample">                                    
                        <div class="account_edit">
                            <h5>Edit Account Information</h5>
                            <form action="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="">Customer Name</label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id=""><i class="fa fa-user"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Enter Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Email Address</label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id=""><i class="fa fa-envelope"></i></span>
                                                </div>
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Phone No</label>
                                            <div class="input-group">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id=""><i class="fa fa-phone-square"></i></span>
                                                </div>
                                                <input type="email" class="form-control" placeholder="Phone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group text-center">
                                            <input type="submit" class="btn btn-success" placeholder="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-order" role="tabpanel" aria-labelledby="v-pills-order-tab">
                <h2 class="title">Order Information</h2>
                <div class="history_list">
                    <div class="card">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <div class="card-img">
                                <a href="#"><img src="images/chef4.jpg" alt="..."></a>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-header mb-3">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h6>Request for</h6>
                                            <h2>Ilish maach er jhol</h2>
                                        </div>
                                        <div class="col-3 text-right">
                                            <a href="#" class="btn btn-default">Sun, 23<sup>rd</sup> Feb</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <h5><span>Order status:</span> <i class="fa fa-check-circle alert-success"></i> Success</h5>
                                        <h3>Annapurnar hensel</h3>
                                        <p><i class="fa fa-map-marker mr-2"></i> Kolkata West Bengal</p>
                                        <span class="ratea_meta">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </span>
                                    </div>
                                    <div class="col-3 text-right">
                                        <span class="price"><i class="fa fa-rupee"></i> 550</span>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <div class="card-img">
                                <a href="#"><img src="images/chef5.jpg" alt="..."></a>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-header mb-3">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h6>Request for</h6>
                                            <h2>Aloo Potol Posto</h2>
                                        </div>
                                        <div class="col-3 text-right">
                                            <a href="#" class="btn btn-default">Mon, 13<sup>rd</sup> Jan</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <h5><span>Order status:</span> <i class="fa fa-check-circle alert-success"></i> Success</h5>
                                        <h3>Amar Ranna Ghar</h3>
                                        <p><i class="fa fa-map-marker mr-2"></i> Kolkata West Bengal</p>
                                        <span class="ratea_meta">
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                            <a href="#"><i class="fa fa-star"></i></a>
                                        </span>
                                    </div>
                                    <div class="col-3 text-right">
                                        <span class="price"><i class="fa fa-rupee"></i> 1200</span>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="row no-gutters">
                          <div class="col-md-4">
                            <div class="card-img">
                                <a href="#"><img src="images/chef6.jpg" alt="..."></a>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                <div class="card-header mb-3">
                                    <div class="row align-items-center">
                                        <div class="col-9">
                                            <h6>Request for</h6>
                                            <h2>Alur Dom</h2>
                                        </div>
                                        <div class="col-3 text-right">
                                            <a href="#" class="btn btn-default">Tue, 03<sup>rd</sup> Dec</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-9">
                                        <h5><span>Order status:</span> <i class="fa fa-times-circle alert-danger"></i> Withdraw</h5>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <h2 class="title">Order Information</h2>
                <div class="request_detail">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="panel">
                                <h6>Request for</h6>
                                <h2>Ilish maach er jhol</h2>
                                <ul class="list-unstyled clearfix">
                                    <li class="media">
                                        <div class="mr-3">
                                            <i class="fa fa-map-marker"></i>
                                        </div>
                                        <div class="media-body">
                                            <p>Kolkata West Bengal</p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <div class="mr-3">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="media-body">
                                            <p>10 people</p>
                                        </div>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-default mt-4">View Instruction</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="panel">
                                <h6>Quote ID</h6>
                                <h2>sdsbaug2020</h2>
                                <ul class="list-unstyled clearfix">
                                    <li class="media">
                                        <div class="mr-3">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="media-body">
                                            <p>25 Feb, 2020 <br>06:00 PM</p>
                                        </div>
                                    </li>
                                </ul>
                                <a href="#" class="btn btn-danger mt-4">Withdraw</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                        
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <label for="" class="alert alert-success btn-block">Successfully Sign out</label>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>